<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title> OD | Apply </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--STYLES-->
  <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="/bower_components/milligram/dist/milligram.min.css">
  <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css"/>
  <link rel="stylesheet" href="/bower_components/vex/css/vex.css" />
  <link rel="stylesheet" href="/bower_components/vex/css/vex-theme-os.css" />
  <!--STYLES END-->
  <style media="screen">
      .blackbutton{
          background-color: black;
          border-color: black;
      }
      .black{
          color:black;
      }
  </style>
</head>

<body>

  <div class="container" ng-controller="RegistrationCtrl">
      <div class="row">
          <div class="column column-40">
              <h1 class="black"><b>Apply form - </b></h1>
          </div>
        <div class="column float-right">
            <a class="button" href="/logout">Logout</a> </button>
        </div>
    </div>
    <div class="row">
      <div class="column column-40" ng-form="find">
          <section id="find">
              <h2 class="black"> Find Student </h2>

              <label class="label-inline">
                  Registration Number
              </label>
              <input type="text" name="id" id="id" ng-keypress="$event.keyCode==13 && find.$valid && !found ? findStudent() : null " required ng-model="student._id" ng-blur="student._id=student._id.toUpperCase()" ng-change="student._id=student._id.toUpperCase()"/>
              <button class="button button-outline" ng-disabled="found || find.id.$invalid" ng-click="findStudent()" > Find </button>
          </section>
      </div>
      <div ng-form="detail" class="column column-40 column-offset-20"  ng-if="found != null && created==false">
        <section id="details">
          <h2> Student Details </h2>
          <label>
            Name:
            <input type="text" name="name" id="name" required ng-model="student.name" ng-disabled="found"/>
          </label>
          <button class="button button-outline" type="submit" ng-click="createStudent()" ng-disabled="found || detail.$invalid" > Create Student </button>
        </section>
      </div>

      <div class="column column-40 column-offset-20"  ng-if="created">
        <section id="details">
          <h2> Student Details </h2>
          <label> Name: {{student.name}}</label>
        </section>
      </div>
    </div>
    <div class="row" ng-if="found != null && created==true">
      <div class="column column-40" ng-form="apply">
        <section id="date">
            <h2 class="black"> Date </h2>

            <label class="label">
                Date
                <input type="date" name="date" id="date" required ng-model="student.date"/>
            </label>
            <label class="label-inline">
                Start Time
                <input type="number" min="0" max="23" name="startTime" id="startTime" required ng-model="student.startTime"/>
            </label>
            <label class="label-inline">
                End Time
                <input type="number" name="endTime" min="0" max="23" id="endTime" required ng-model="student.endTime"/>
            </label>
            <label class="label">
                Committee
                <select name="committee" id="committee" required ng-model="student.committee" ng-options="val for val in committees">
                </select>
            </label>
        </section>

      <button class="button blackbutton"  ng-disabled="apply.$invalid" ng-click="confirm('apply OD?', applyOD);" > Apply </button>
      <button class="button blackbutton" ng-click="confirm('refresh the data?', init);" > New </button>

    </div>
    </div>


  </div>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/vex/js/vex.combined.min.js"></script>
  <script src="/bower_components/toastr/toastr.min.js"></script>

  <script>
  vex.defaultOptions.className = 'vex-theme-os';
      toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    var app = angular.module('app', []);
    app.controller('RegistrationCtrl', ['$scope', '$http', function ($scope, $http) {

      $http.defaults.headers.common['Accept'] = 'application/json';
      var content = `Please Wait...<br>Application in progress!`;

      $scope.init = function()
      {
          console.log("Init!");
          $scope.student = {
            _id: null,
            name: null,
            committee : "P & M"
          };
          $scope.committees = ["P & M", "Tech Team", "Events", "R & R", "Sponsorship", "Media", "SGC", "Halls"]
          $scope.created = false;
          $scope.found = null;
      }

      $scope.init();

      $scope.findStudent = function()
      {
        var params = { id: $scope.student._id };
        $http.get('/organizer/student', { params: params })
        .then(success, error);

        function success(response)
        {
          $scope.student = {
            _id: response.data._id,
            name: response.data.name
          };
          $scope.found = true;
          $scope.created = true;
            toastr["success"]($scope.student._id+"\n"+$scope.student.name, "Student Found")
          console.log(response.data);
        }

        function error(response)
        {
          $scope.found = false;
          toastr["error"]("Enter Student details","Student Not Found!");
        }
      };

      $scope.createStudent = function()
      {
        $http.post('/organizer/student', $scope.student)
        .then(success, error)

        function success(response)
        {
          toastr["success"]($scope.student._id+"\n"+$scope.student.name, "Student created!")
          $scope.found = true;
          $scope.created = true;
        }

        function error (response)
        {
          console.log(response);
          toastr["error"]("Please check your internet connection.","Student could not be created!");
        }
      };

      $scope.checkout = function()
      {
          var defaultOptions={
                content: content,
                showCloseButton: false,
                escapeButtonCloses: false,
                overlayClosesOnClick: false,
                appendLocation: 'body',
                className: "vex-theme-os",
                css: {},
                overlayClassName: '',
                overlayCSS: {},
                contentClassName: '',
                contentCSS: {},
                closeClassName: '',
                closeCSS: {}
            }
            vex.open(defaultOptions, function(data){
                console.log(data);
            });
      }

      $scope.confirm = function(m, cb)
      {
          vex.dialog.confirm(
          {
              message: "Are you sure you want to "+m,
              callback : function(value)
              {
                  console.log("working!"+value);
                  if(value){
                      cb();
                      $scope.$apply();
                  }
              },
              buttons: [
                        $.extend({}, vex.dialog.buttons.YES, {
                          text: 'Yes'
                        }), $.extend({}, vex.dialog.buttons.NO, {
                          text: 'No'
                        })
                    ]
            }
         );
      }

      var invalid = function()//end before start
      {
        if($scope.student.endTime<$scope.student.startTime){
          toastr["error"]("End Time is less than Start time.", "Start - End Time error!");
          return true;
        }
        return false;
      }

      $scope.applyOD = function()
      {
         if(invalid()){return;}
         var payload = $scope.student;
         $scope.checkout();
         $http.post('/organizer/apply', payload)
         .then(success, error)

        function success(response)
        {
          toastr["success"]($scope.student._id+"\n"+$scope.student.name, "OD Applied Successfully!")
          vex.close();
          $scope.confirm('refresh the data?', $scope.init);
        }

        function error (response)
        {
          console.log(JSON.stringify(response, null, 2))
          toastr["error"]("Please check your internet connection.","OD Application Failed!");
         vex.close();
        }
      }
    }]);
  </script>

</body>

</html>
