<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title> OD | Apply </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--STYLES-->
  <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="/bower_components/milligram/dist/milligram.min.css">
  <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css"/>
  <link rel="stylesheet" href="/bower_components/vex/css/vex.css" />
  <link rel="stylesheet" href="/bower_components/vex/css/vex-theme-os.css" />
  <!--STYLES END-->
  <style media="screen">
      .blackbutton{
          background-color: black;
          border-color: black;
      }
      .black{
          color:black;
      }
  </style>
</head>

<body>

  <div class="container" ng-controller="RegistrationCtrl">
      <div class="row">
          <div class="column column-40">
              <h1 class="black"><b>Apply form - </b></h1>
          </div>
        <div class="column float-right">
            <a class="button" href="/logout">Logout</a> </button>
        </div>
    </div>
    <div class="row">
      <div class="column column-40" ng-form="find">
          <section id="find">
              <h2 class="black"> Find Student </h2>

              <label class="label-inline">
                  Registration Number
              </label>
              <input type="text" name="id" id="id" ng-keypress="$event.keyCode==13 && find.$valid && !found ? findStudent() : null " required ng-model="student._id" ng-blur="student._id=student._id.toUpperCase()" ng-change="student._id=student._id.toUpperCase()"/>
              <button class="button button-outline" ng-disabled="found || find.id.$invalid" ng-click="findStudent()" > Find </button>
          </section>
      </div>
      <div ng-form="detail" class="column column-40 column-offset-20"  ng-if="found != null && created==false">
        <section id="details">
          <h2> Student Details </h2>
          <label>
            Name:
            <input type="text" name="name" id="name" required ng-model="student.name" ng-disabled="found"/>
          </label>
          <button class="button button-outline" type="submit" ng-click="createStudent()" ng-disabled="found || detail.$invalid" > Create Student </button>
        </section>
      </div>

      <div class="column column-40 column-offset-20"  ng-if="created">
        <section id="details">
          <h2> Student Details </h2>
          <label> Name: {{student.name}}</label>
        </section>
      </div>
    </div>


      <button class="button blackbutton"   ng-click="confirm('apply OD?', applyOD);" > Apply </button>



    </section>
  </div>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/vex/js/vex.combined.min.js"></script>
  <script src="/bower_components/toastr/toastr.min.js"></script>

  <script>
  vex.defaultOptions.className = 'vex-theme-os';
      toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    var app = angular.module('app', []);
    app.controller('RegistrationCtrl', ['$scope', '$http', function ($scope, $http) {

      $http.defaults.headers.common['Accept'] = 'application/json';
      var content = `Please Wait...<br>Application in progress!`;
      $scope.init = function()
      {
          console.log("Init!");
          $scope.student = {
            _id: null,
            name: null
          };
          $scope.created = false;
          $scope.found = null;
      }
      $scope.init();

      $scope.findStudent = function()
      {
        var params = { id: $scope.student._id };
        $http.get('/organizer/student', { params: params })
        .then(success, error);

        function success(response)
        {
          $scope.student = {
            _id: response.data._id,
            name: response.data.name
          };
          $scope.found = true;
          $scope.created = true;
            toastr["success"]($scope.student._id+"\n"+$scope.student.name, "Student Found")
          console.log(response.data);
        }

        function error(response)
        {
          $scope.found = false;
          toastr["error"]("Enter Student details","Student Not Found!");
        }
      };

      $scope.createStudent = function()
      {
        $http.post('/organizer/student', $scope.student)
        .then(success, error)

        function success(response)
        {
          toastr["success"]($scope.student._id+"\n"+$scope.student.name, "Student created!")
          $scope.found = true;
          $scope.created = true;
        }

        function error (response)
        {
          console.log(response)
          toastr["error"]("Please check your internet connection.","Student could not be created!");
        }
      };

      var invalid = function()//end before start
      {
          var temp = $scope.events;
          var alreadyReg = $scope.student.events;
          console.log($scope.events);
          if(!temp.length)
          {
              toastr["error"]("Please select atleast one event.", "No event selected!");
              return true;
          }
          for (var i = 0; i < temp.length; i++)
          {
              for (var j = i + 1; j < temp.length; j++)
              {
                  if (temp[i].name == temp[j].name)
                  {
                      toastr["error"]("The event list contains duplicate entry! Please correct that and retry submitting the form.", "Duplicate Error!");
                      return true;
                  }
              }
          }
          if($scope.student.events)
          {

              for (var i = 0; i < temp.length; i++)
              {
                  for (var j = 0; j < alreadyReg.length; j++)
                  {
                      if (temp[i].name == alreadyReg[j])
                      {
                          toastr["error"]("There's an event already registered! Please delete that and retry submitting the form.", "Duplicate Error!");
                          return true;
                      }
                  }
              }

            }
          return false;
      }

      $scope.checkout = function()
      {
          var defaultOptions={
                content: content,
                showCloseButton: false,
                escapeButtonCloses: false,
                overlayClosesOnClick: false,
                appendLocation: 'body',
                className: "vex-theme-os",
                css: {},
                overlayClassName: '',
                overlayCSS: {},
                contentClassName: '',
                contentCSS: {},
                closeClassName: '',
                closeCSS: {}
            }
            vex.open(defaultOptions, function(data){
                console.log(data);
            });
      }

      $scope.confirm = function(m, cb)
      {
          vex.dialog.confirm(
          {
              message: "Are you sure you want to "+m,
              callback : function(value)
              {
                  console.log("working!"+value);
                  if(value){
                      cb();
                      $scope.$apply();
                  }
              },
              buttons: [
                        $.extend({}, vex.dialog.buttons.YES, {
                          text: 'Yes'
                        }), $.extend({}, vex.dialog.buttons.NO, {
                          text: 'No'
                        })
                    ]
            }
         );
      }
      $scope.submit = function()
      {
         if(invalid()){return;}
         console.log($scope.events);
         var payload =
         {
           studentId: $scope.student._id,
           payment: $scope.student.payment,
           eventIds: $scope.events.map(function(event) { return event.name; })
         };
         $scope.checkout();
         $http.post('/registration/register', payload)
         .then(success, error)

        function success(response)
        {
          toastr["success"]($scope.student._id+"\n"+$scope.student.name, "Registration Successful!")
          vex.close();
          $scope.confirm('refresh the data?', $scope.init);
        }

        function error (response)
        {
          console.log(JSON.stringify(response, null, 2))
          //alert('please check your internet connection.');
          toastr["error"]("Please check your internet connection.","Registration failed!");
         vex.close();
        }
      }
    }]);
  </script>

</body>

</html>
